:root{
    --primaryred: hsl(0, 100%, 74%);
    --primarygreen: hsl(154, 59%, 51%);
    --accentblue: hsl(248, 32%, 49%);
    --neutraldarkblue: hsl(249, 10%, 26%); 
    --neutralGrayishBlue: hsl(246, 25%, 77%);
}

*, *:before, *:after {
    box-sizing: inherit;
}

body {
    font-family: 'Poppins';
}

.container{
    align-items: center;
    background-color: var(--primaryred);
    background-image: url(../images/bg-intro-desktop.png);
    display: flex;
    height: 100vh;
    justify-content: center;
}

.wrapper {
    display: flex;
    justify-content: center; 
    width: 990px;
}

.wrapper__letter {
    color: white;
    margin-top: 90px;
    padding: 35px;
    width: 49%;
}

.wrapper__letter h1{
    font-size: 40px;
    font-weight: 700; 
}

.wrapper__letter p {
    font-size: 14px;
    font-weight: 400;
    line-height: 22px;
    text-align: justify;
}

.wrapper__form {
    width: 51%;
}

.wrapper__form-try {
    background-color: var(--accentblue);
    border-radius: 10px;
    color: white;
    font-size: 13px;
    font-weight: 700;
    margin-bottom: 25px;
    padding: 4px;
    text-align: center;
}

.wrapper__form-try span {
    font-weight: 400;
}

.wrapper__form-field {
    background-color: white;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 33px;
}

.field {
    border: 1px solid var(--neutralGrayishBlue);
    border-radius: 5px;
    font-size: 12px;
    font-weight: 600;
    padding: 15px;
    width: 90%; 
}

.wrapper__form-field button {
    background-color: var(--primarygreen);
    border: none;
    border-radius: 10px;
    color: white;
    cursor: pointer;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 1px;
    padding: 15px;
    text-align: center;
    text-transform: uppercase;
}

.wrapper__form-field footer {
    color: var(--neutralGrayishBlue);
    font-size: 10px ;
    text-align: center;
}

.wrapper__form-field span {
    cursor: pointer;
    color: var(--primaryred);
    font-weight: 600;
}

.shadow {
    -webkit-box-shadow: 0px 10px 0px -3px rgba(62,60,73,0.59);
    -moz-box-shadow: 0px 10px 0px -3px rgba(62,60,73,0.59);
    box-shadow: 0px 10px 0px -3px rgba(62,60,73,0.59);
}

.button-shadow {
    -webkit-box-shadow: 0px 7px 0px -3px rgba(46,171,117,1);
    -moz-box-shadow: 0px 7px 0px -3px rgba(46,171,117,1);
    box-shadow: 0px 7px 0px -3px rgba(46,171,117,1);
}

@media all and (min-width: 375px) {
    .wrapper {
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding-left: 28px;
        width: 300px;
    }

    .wrapper__letter {
        margin-top: 20px;
        margin-bottom: 40px;
        padding: 0;
        width: 90%;
    }
    
    .wrapper__letter h1 {
        text-align: center;
        font-size: 30px;
    }

    .wrapper__letter p {
        text-align: center;
    }

    .wrapper__form {
        width: 90%;
    }
}
